<div class="lang-menu">
<ul>
@Url.LangSwitcher("en", ViewContext.RouteData, "en", Url.Content("~/Content/images/Flags/britain.png"))
@Url.LangSwitcher("ru", ViewContext.RouteData, "ru", Url.Content("~/Content/images/Flags/russian_federation.png"))
</ul>
</div>
